h1 {
    background-color: rgb(5, 187, 5);
    color: white;
    text-align: center;
    padding: 10px;
}

h2 {
    background-color: rgba(0, 128, 0, 0.87);
    color: white;
    text-align: center;
    padding: 10px;
}

