<!doctype html>
<html lang="pt-br">
  <head>
    <title>Da Mata</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="icon" href="img\Logo.jpeg"/>

  </head>
  <body>

    <div class="container" style="background-color:rgb(187, 207, 187); height: 850px;">
        <nav class="navbar navbar-expand-lg navbar-light " style="background-color:#8eb1a0;">
          <div class="container-fluid"></div>
            <a class="navbar-brand" href="{{ url_for('index')}}"><img src="" class="img-fluid img-thumbnail" alt="" width="70" height="70" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ url_for('cadastrados') }}">Insumos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ url_for('receitas') }}">Receitas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{{ url_for('addinsumo') }}">Cadastrar Insumo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{{ url_for('addreceita') }}">Cadastrar Receita</a>
                </li>
              </ul>
            </nav> 
        </nav>
        
      </div>
    <div class="container" style="text-align: center; height: 300px; position: fixed; bottom: 0px; left: 0px;">
      <h1>Da Mata</h1>
      <h3>Aromas Casa & Corpo</h3>
    </div>
  
  
    <div class="container-fluid" style="height:50px; bottom: 0px; position: fixed; text-align: center;">
      <small class="text-muted">&copy;Desenvolvido pelos alunos UNIVESP</small>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>