{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} <br><br><strong>Seus insumos...</strong> <br><br> {% endblock %}</h1>
    {% for insumo in insumos %}
        <a href="{{ url_for('post', insumo_id=insumo['id']) }}">
            <h2><p> </p>{{ insumo['nome_insumo'] }}</h2>
        </a>
        <!--Essa url_for é o que vai criar a URL como rota, mas não está gerando link-->
        <p></p>
            <h6>{{ insumo['beneficios'] }}</h6>
            <br>
        </a>
        <a href="{{ url_for('edit', id=insumo['id']) }}">
            <span class="btn btn-secondary">Editar<br></span>
        </a>
        <hr>
    {% endfor %}    
{% endblock %}
